<!doctype html>
<meta http-equiv="refresh" content="5; URL=http://192.168.1.68:5000/tables">

<head>
<link href="static/bootstrap.min.css" rel="stylesheet">
 


</head>
<title>Simple tables</title>
<body>
    <div class="container">
      
        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
      

  
  
    <table class="table">
    
    	<tr>
    		<th>SYMBOL</th>
    		<th> Time </th>
    		<th> Close </th>
    		<th> Volume </th>
    		<th> Volume Breakout </th>
    		<th> Lower Low </th>
    		<th> Higher High </th>
    		<th> Days Low</th>
    		<th> Days High</th>
        <th> Super Signal</th>
        <th> CCI34</th>
        <th> SuperTrend</th>
        <th> Message</th>
    	</tr>
    
    {% for row_index in range(data.index|count) %}
    <tr>
      <td>{{ data.index[row_index]}}</td>	
      <td>{{ data['time'][row_index]}}</td>
      <td>{{ data['close'][row_index]}}</td>
      <td>{{ data['volume'][row_index]}}</td>

      <td>  {% if data['volsig'][row_index] == 1 %} 
      		<img src="/static/green.jpg"/>
		   {% endif %}
      </td>
      <td>  {% if data['pallsig'][row_index] == 1 %} 
      		<img src="/static/green.jpg"/>
		   {% endif %}
      </td>
      <td>  {% if data['pahhsig'][row_index] == 1 %} 
      		<img src="/static/green.jpg"/>
		   {% endif %}
      </td>
      <td>  {% if data['daylowsig'][row_index] == 1 %} 
      		<img src="/static/green.jpg"/>
		   {% endif %}
      </td>
      <td>  {% if data['dayhighsig'][row_index] == 1 %} 
      		<img src="/static/green.jpg"/>
		   {% endif %}
      </td>
      <td>  {% if data['supersig'][row_index] == 1 %} 
          <img src="/static/green.jpg"/>
       {% endif %}
      </td>
      <td>{{ data['cci34'][row_index]}}</td>
      <td>{{ data['SuperTrend'][row_index]}}</td>
      <td>{{ data['msg'][row_index]}}</td>
    </tr>
    {% endfor %}
    </table>

    
  
</div></div>

</body>
